
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin-left: 200px;
   margin-right: 192px;
}

/* common style */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.section-caption{
    color: #181818;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    /* color: black; */
    font-size: 20px;
}

header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    
    
    
}


/* Banner design */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 500px;
    height: 356px;
    margin-left: 200px;
    
    
}

.banner-content button{
    margin-right: 10px;
}
.banner-greeting{
    font-size: 45px;
    font-weight:600;
    margin-bottom: 0px;
    
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner-description{
    font-size: 18px;
    color: #757575;
    
}
.profilr-pic{
    width: 580px;
    height: 670px;
}
/* about style */

.about{
    max-width: 1140px;
    max-height: 550px;
    margin: 0 auto;
    padding: 130px 150px;
    margin-top: 120px;
    border-radius: 15px;
}
.about-content{
    width: 800px;
    border: 1px solid black;
    background-color: #fff;
    text-align: center;
    /* padding: 20px; */
    margin: 50px auto;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* what i do styles */
/* .skill-container{
     max-width: 1140px;
    max-height: 550px;
    margin: 0 auto;
    padding: 130px 150px;
    margin-top: 120px;
    border-radius: 15px; */


.about-skills{
    width: 800px;
    background-color: #fff;
    text-align: center;
    /* padding: 20px; */
    margin: 0 auto;

}
.container{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
.skill-card{
    border: #FFFFFF;
    border-radius: 5px;
    padding: 30px  ;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume design */
.resume{
    margin-top: 0px;
}
.resume-heading{
    margin-bottom: 90px;
}
.resume-flex{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.resume-collumn{
    /* margin-left: 250px;
    margin-right: 277px; */
     width: 500px;
    background-color: #fff;
    text-align: left;
    /* padding: 20px; */
    margin: 0 auto;
}
.resumi-container{
    /* width: 510px; */
    
    height: 175px;
    text-align: left;
}
.resume-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotter-container{
   height:  780px;
    margin-top: 200px;
}

/* footer design */
.footer-caption{
    color: #181818;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    
}
.footer-collumn{
    width: 560px;
   padding-left: 200px;
   padding-top: 120px;
}
.footer-collumn a img{
    margin-right: 20px;
}
.fotter-container{
    display: flex;
    gap: 17px;
}
footer, input ,textarea{
    height: 64px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
   margin-bottom: 24px;
   width: 100%;
   font-size: 20px;
   border: none;
   box-shadow: 0px 10px 10px 0.6px rgba(176, 170, 170, 0.304);
}